$bg-and-card-color: #F4F9FB;
$footer-txt-color-grey:#7A7A7A;
$txt-color-white: #fff;
$txt-color-black: #000;
$bg-color-btn: #007DB6;
$card1-bg-color:#FF879F;
$card2-bg-color:#65B2D6;
$card3-bg-color:#F0D075;
$text-size-50px: 50px;
$text-size-24px: 24px;
$text-size-15px: 15px;
$text-wieght-900: 900;
$text-wieght-900: 600;
$text-wieght-900: 400;