@use './../custom/varable';
@use './../custom/mixin';

.question {
    @include mixin.flexbox(space-between, start, 120px, row);
    @media screen and (max-width: 480px) {
    @include mixin.flexbox(space-between, start, 120px, column);
    }

    &__txt {
        width: 600px;
        @media screen and (max-width: 480px) {
            padding: 0 20px;
            width: 463px;
            position: relative;
            top: 60px;

        }
        h2 {
            font-size: 40px;
            font-weight: 800;
            @media screen and (max-width: 480px) {
                font-size: 35px;
                text-align: center;
            }
        }

        p {
            font-size: 16px;
            margin-top: 20px;
            color: #333;
            @media screen and (max-width: 480px) {
                text-align: center;
            }
        }

        #feedback-btn {
            @include mixin.button(20px,   #007DB6,18px);

            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
    }
    .accordion {
        border: none;
        border-top: 1px solid #ddd;
        width: 70%;
        @media screen and (max-width: 480px) {
            width: 100%;
            padding: 0 20px;
        }
    }
    .accordion-item {
        border: 2px solid #007DB6;
        border-radius: 20px;
        margin-bottom: 15px;
        transition: all 0.3s ease-in-out;
        &.active {
            .accordion-content {
                display: block;
                opacity: 1;
                transform: scaleY(1);
            }
            .accordion-header i {
                transform: rotate(360deg);
                transition: transform 0.4s ease-in-out;
            }
        }
    }
    .accordion-header {
    @include mixin.flexbox(space-between, center, '', '');

        width: 100%;
        background: transparent;
        border: rgba(0, 0, 0, 0);
        font-size: 20px;
        font-weight: 500;
        padding: 15px;
        cursor: pointer;
        outline: none;
    }
    .accordion-content {
        border: none;
        border-radius: 10px;
        display: none;
        padding: 15px;
        font-size: 16px;
        color: #333;
        opacity: 0;
        background-color: #F4F9FB;
        transform: scaleY(0);
        transition: opacity 0.3s ease-in-out, transform 0.8s ease-in-out;
    }
}